{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="row">
    <div class="title">My interests</div>
    <div class="elements">
        {{ form.my_interests }}
    </div>
</div>